[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu
#canbus_uuid: c17c5282b355
#[include generic-bigtreetech-xxx.cfg]

[include shell_command.cfg]
[include moonraker_obico_macros.cfg]



[gcode_macro update_git]
gcode:
 RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash /home/biqu/klipper-backup/script.sh
timeout: 90
verbose: True 